 NEXT_PUBLIC_API_URL=https://pravix-gpt-backend.vercel.app
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA4pW5YevpCp_GnxvyV9eLrQd_fgnGJStM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=pravix-gpt.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=pravix-gpt
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=969517769385
NEXT_PUBLIC_FIREBASE_APP_ID=1:969517769385:web:a234f8af55fef0c5103fb8
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-0GP9G3Z79X
